numpy >= 1.16.1
scipy >= 1.2.1
healpy >= 1.12.9
PeakUtils >= 1.3.2
tqdm >= 4.31.1
cython
joblib
hydra-core
matplotlib
# madmom        #! Install manually
# =====================================
# ipykernel     #> dev